*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "epilogue",sans-serif;
}
:root{
    font-size: 17px;
    --text-color:hsl(0, 0%, 41%);
    --white:hsl(0, 0%, 98%);
    --black:hsl(0, 0%, 8%);
    --purple:rgb(133, 87, 163);
}
a{
    color: var(--black);
    text-decoration: none;
}
a:hover{
    color:var(--purple);
}
h1 {
    font-size: 1.9em ;
    font-weight: 1000;
    text-align: center;
    color: var(--black);
}
p {
    font-size: .95em;
    line-height: 1.6;
    text-align: center;
    color:var(--text-color) ;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    background-color: var(--white);
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5em;
    padding: 2.2em 1em;
    position:absolute;
    top: 0;
    left: 0;
}
.logo{
    cursor: pointer;
}
.menu {
    cursor: pointer;
}
.header-content{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 65%;
    padding:20% 1.4em;
    transform: translateX(100vw);
    transition: 1s;
}
.show-nav {
    transform: translateX(0);
}
.close {
    position: absolute;
    top:1.1em ;
    right: 1em;
}
.navbar{
    width: 100%;
}
.nav-list{
    margin-bottom: 1em;
    cursor: pointer;
    list-style: none;
    text-transform: capitalize;
}
.nav-list:hover{
    color: var(--purple);
}
.nav-list span{
    margin-left: .5em;
}
.arrow{
    transition: 1s;
}
.drop{
    max-height:0 ;
    overflow: hidden;
    transition: .5s;
    color: var(--black);
}
.show-drop-down {
    padding:1em 1.5em  0.1em;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    text-transform:capitalize;
}
.user .reg{
    border: 2px solid rgb(105, 105, 105);
    padding: .5em;
    border-radius:15px;
    width: 100%;
}
.hero img{
    width: 100%;
}
.brand {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    height: 100%;
}
.cta {
    padding: 1em;
    width: 9em;
    border: none;
    border-radius: 1.2em;
    background-color: var(--black);
    color: var(--white);
    font-size: 1em;
    margin:0 auto;
}
.cta:hover{
    background-color: rgb(133, 87, 163);
}
.clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client{
    width: 4.2em;
}
@media only screen and (min-width : 768px ) {
    :root{
        font-size: 16px;
    }
h1{
    font-size: 3.5em;
}
p{
    font-size: 1.5em;
}
    .header-content{
        position: relative;
        max-height: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        align-self: center;
        background-color: transparent;
        transform: translateX(0) translateY(8px);
    }
    .header ul{
        display: flex;
    }
    .nav-list{
        padding: 1em;
        position: relative;
    }
    .drop{
       position: absolute;
       display: flex;
       flex-direction: column;
       left: 0;
       top: 3em;
       overflow:hidden;
       background-color: #fff;
       border-radius: 1em;
    }
    .drop .nav-list{
        font-size: .8em;
        padding: .5em 1em;
        margin-bottom: 0;
    }
    .show-drop-down{
        padding: 0;
    }
    .user{
        display: flex;
        flex-direction: row;
        transform: translateY(-8px);
    }
    .menu{
        display: none;
    }
}
@media only screen and (min-width : 1024px ) {
    .container{
        flex-direction: row-reverse;
        padding: 2% 10%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    h1{
        text-align: left;
        font-size: 3em;
        width: 83%;
    }
    p{
        text-align: left;
        font-size: .9em;
        width: 80%;
    }
    .header{
        padding:3% 5% ;
    }
    .hero{
        background: url(images/image-hero-desktop.png) no-repeat;
        width: 100%;
        max-width: 420px;
        height: 100%;
        background-size: 80%;
        background-position: center;
        padding: 0;
    }
    .hero img{
        display: none;
    }
    .brand{
        width: 100%;
        justify-content: center;
        gap: 25px;
        position: relative;
    }  
    .cta{
        margin: 0;   
    }
    .clients{
        justify-self:flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding:0 10% 10% 0;
    }
}
@media only screen and (min-width : 1440px ) {
    :root{
        font-size: 18px;
    }
    h1{
        font-size: 4em;
        width: 87%;
    }
    .hero{
        background-size: 100%;
        max-width: 380px;
        margin-top: 6%;
    }
    .brand{
        max-width: 650px;
        padding-top: 10%;
    }
}
